

.title{
  font-size:'32px'; font-family: '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif'
}

.sidebar .nav .nav-item .nav-link.active, .sidebar .nav .nav-item .nav-link:hover, .sidebar .nav .nav-item.active, .sidebar .nav .nav-item:hover {
  box-shadow: inset 0.1875rem 0 0 #13beb1;
  background-color: #fbfbfb;
  color: #13beb1;
}

.sidebar .nav .nav-item .nav-link {
  border-bottom: 1px solid #e1e5eb;
  font-weight: 400;
  color: #3d5170;
  padding: .9375rem 1.5625rem;
}
.sidebar .nav .nav-item, .sidebar .nav .nav-link {
  white-space: nowrap;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  will-change: background-color,box-shadow,color;
  transition: box-shadow .2s ease,color .2s ease,background-color .2s ease;
  font-size: .85rem;
}
.sidebar {
  top: 0;
  left:0;
  position: realtive;
  height: calc(100vh);
  background: #fff;
  z-index: 999;
  overflow: hidden;
  will-change: transform;
  box-shadow: 0 0.125rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1);
}

@media (max-width: 991.98px){
.sidebar .navbar-brand {
    font-size: 90%;
}
}
.sidebar .navbar-brand {
    overflow: hidden;
    height: 3.75rem;
    font-size: 1rem;
}
.navbar .navbar>* {
    display: -ms-flexbox;
    display: flex;
}
.navbar .navbar {
  height: 3.75rem;
}


.main-logo{
  height: 100%;
}

.border-bottom {
  border-bottom: 1px solid #e1e5eb!important;
}


  .main-content-container.container-fluid {
    min-height: calc(100vh - 7.5rem);
}

.card{
  border: 1px solid #13beb1;
  box-shadow: 0 .5rem 0.6rem rgba(19,190,177,.45)!important;
  border-radius: .25rem!important;
  padding: 20px;
}

.tile1{
  border: 1px solid #13beb1;
  margin-left: 25px;
  margin-top: 10px;
  padding: 10px;
  height: 400px;
  width:20%;
  font-size:1.2em !important;
  box-shadow: 0 .5rem 1rem rgba(19,190,177,.45)!important;
  border-radius: .25rem!important;


  
}

.tile2{
  border:1px solid #13beb1;
  margin:10px;
  padding:10px;
  height:400px;
  width:35%;
  font-size:1.2em !important;
  box-shadow: 0 .5rem 1rem rgba(19,190,177,.45)!important;
  border-radius: .25rem!important;
}

.tile3{
  border: 1px solid #13beb1;
  margin-left: 25px;
  margin-top: 10px;
  padding: 0px;
  height: 300px;
  width:900px;
  font-size:1.2em !important;
  box-shadow: 0 .5rem 1rem rgba(19,190,177,.45)!important;
  border-radius: .25rem!important;

}
.align-items-stretch {
  -ms-flex-align: stretch!important;
  align-items: stretch!important;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.notification{
    text-align: center;
    background-color: #13beb1;
    width:110%;
    overflow: hidden;
    position: relative;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    height:100%;
    color:#fff !important;
    font-size: 1em !important;
}

.navbar {
  padding: 0.75rem 1.5rem; }

.navbar-brand {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-right: 1.5rem;
  font-size: 0.9rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400; }


  .icon-big {
  font-size: 3em;
  min-height: 64px; 
  font-weight: bold;
  line-height: 59px; }


